@import '../../asset/styles/global';

.d-input-group {
  background: #ffffff;
  /* Border */
  border: 1px solid #dedede;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 12px;

  font-family: Maison Neue, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;

  /* Brand/Black Card */

  color: #000000;
  width: 100%;
  height: 58px;
  padding: 19px 13px;
  &.has-label {
    padding: 9px 12px;
  }
  &.small {
    height: 46px;
    padding: 13px;
  }
  &:focus,
  &:hover {
    outline: none !important;
    border-color: #000000;
  }

  .d-input-addonBefore {
    margin-right: 12px;
    padding: 19px 12px 19px 0;
    &.separate {
      border-right: 1px solid #dedede;
    }
    &.small {
      padding: 12px 12px 12px 0;
    }
    &:focus,
    &:hover {
      border-color: #000000;
    }
  }

  .d-input-wrapper {
    width: 100%;
    .d-input-label {
      font-size: 12px;
      line-height: 16px;
      padding-left: 2px;
    }
    .d-input {
      border: none;
      outline: none;
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      ::placeholder {
        color: #949494;
      }
    }
  }
}
