@import "../../asset/styles/variables";
.btn {
  border-radius: 16px;
  cursor: pointer;
  font-family: Maison Neue, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-sizing: border-box;

  .btn-icon {
    margin-right: 8px;
  }
  // type
  &.primary {
    background: $blackBrand;
    color: $whiteBrand;
    &:hover {
      background: $blackStep7
    }
    &:disabled {
      background: $blackStep2;
      border: 1px solid $blackStep2;
      cursor: not-allowed;
    }
  }
  &.secondary {
    background: $whiteBrand;
    color: $blackBrand;
    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
    &:disabled {
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid $blackStep2;
      cursor: not-allowed;
    }
  }
  &.danger {
    background: #EB1D26;
    border: 1px solid #EB1D26;
    color: $whiteBrand;
    &:hover {
      background: #BB1118;
      border: 1px solid #BB1118;
    }
    &:disabled {
      background: #F8ABAE;
      border: 1px solid #F8ABAE;
      cursor: not-allowed;
    }
  }
  &.outline {
    background: #EBEBEB;
    border: 1px solid $blackBrand;
    box-sizing: border-box;
    &:disabled {
      //background: #F8ABAE;
      border: 1px solid $blackStep2;
      cursor: not-allowed;
    }
  }

  &.text {
    background: none;
    border: none;
    &:hover {
      background: $blackStep1;
    }
  }

  // size
  &.sm {
    height: 32px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 12px;
    padding: 0 14px;
  }
  &.md {
    height: 36px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 12px;
    padding: 0 16px;
  }
  &.lg {
    height: 40px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 12px;
    padding: 0 18px;
  }
  &.xl {
    height: 48px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 16px;
    padding: 0 20px;
  }
  &.xxl {
    height: 58px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 16px;
    padding: 0 28px;
  }
}

.spinner {
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}