.btn {
    border-radius: 16px;
    cursor: pointer;
    font-family: Maison Neue, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-sizing: border-box;
}

.btn.primary {
    background: #000000;
    color: #FFFFFF;
}

.btn.primary:hover {
    background: #4F4F4F
}

.btn.primary:disabled {
    background: #CFCFCF;
    border: 1px solid #CFCFCF;
    cursor: not-allowed;
}

.btn.secondary {
    background: #FFFFFF;
    color: #000000;
}

.btn.secondary:disabled {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #CFCFCF;
    cursor: not-allowed;
}

.btn.danger {
    background: #EB1D26;
    border: 1px solid #EB1D26;
    color: #FFFFFF;
}

.btn.danger:hover {
    background: #BB1118;
    border: 1px solid #BB1118;
}

.btn.danger:disabled {
    background: #F8ABAE;
    border: 1px solid #F8ABAE;
    cursor: not-allowed;
}