
/* Color */

$blackBrand: #000000;
$redBrand: #A32A2F;
$sandBrand: #CCCCCC;
$oceanBrand: #2C677A;
$skyBrand: #BCDBDF;
$whiteBrand: #FFFFFF;

/* Black */
$blackStep8: #333333;
$blackStep7: #4F4F4F;
$blackStep6: #6A6A6A;
$blackStep5: #848484;
$blackStep4: #9D9D9D;
$blackStep3: #B6B6B6;
$blackStep2: #CFCFCF;
$blackStep1: #E7E7E7;

/* Red */
$redStep8: #360003;
$redStep7: #6E0509;
$redStep6: #A32A30;
$redStep5: #C2565B;
$redStep4: #D58387;
$redStep3: #E2A9AC;
$redStep2: #EAC6C7;
$redStep1: #EEDBDC;

/* Sand */
$sandStep8: #362700;
$sandStep7: #654701;
$sandStep6: #8F6E1B;
$sandStep5: #B19345;
$sandStep4: #CCB472;
$sandStep3: #E0CD9E;
$sandStep2: #EEE0C1;
$sandStep1: #F1EAD6;

/* Ocean */
$sandStep8: #091517;
$sandStep7: #1B3D48;
$sandStep6: #2C677A;
$sandStep5: #49879E;
$sandStep4: #71ACC0;
$sandStep3: #8EC0D0;
$sandStep2: #AED3E0;
$sandStep1: #D6E8EF;

/* Sky */
$sandStep8: #030C0D;
$sandStep7: #13373C;
$sandStep6: #2A646B;
$sandStep5: #51919B;
$sandStep4: #6FA8B1;
$sandStep3: #90C2C8;
$sandStep2: #BBDBDF;
$sandStep1: #EBFDFF;